.newsItem {
    display: flex;
}

.thumbnail {
    margin-right: 1rem;
}

.thumbnail img {
    display: block;
    width: 160px;
    height: 100px;
    object-fit: cover;
}

.contents h2 {
    margin: 0;
}

.contents h2 a {
    color: black;
}

.contents p {
    margin: 0;
    line-height: 1.5;
    margin-top: 0.5rem;
    white-space: normal;
}

/* 동일한 컴포넌트가 연달아 있을 때 간격 추가 */
.newsItem + .newsItem {
    margin-top: 3rem;
}

.title a {
    font-weight: bold;
    text-decoration: underline;
    color: inherit;
}